<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
    <%= form_for(@contact) do |f| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "alert-danger") %> prohibited this contact from being saved:</h2>

          <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :comments %><br>
        <%= f.text_area :comments, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Create Contact', class: 'btn btn-default' %>
      </div>
    <% end %>
    </div>    
  </div>
</div>